* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}


.foo_bar {
    height: 30px;
    width: 100%;
    background-color: #444444;
    display: flex;
    align-items: center;
}

/*  altura de un cuadro, ancho de un cuadro, color de fondo de una manera alternativa*/
body {
    overflow-x: hidden;
}

a {
    text-decoration: underline;
    color: inherit;
}

header {
    height: 100px;
    width: 100%;
    background-color: #00b6bc;
    display: flex;
    align-items: center;
    overflow: hidden;
}
/*      QUE CONSTE QUE LE PREGUNTE A JOSHUA*/

/* 
.carrusel {
    width: 100%;
    height: 600px;
    background: #bc4e9c;
background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url;
background: linear-gradient(to right, hsla(153, 95%, 50%, 0.516), hsla(171, 45%, 52%, 0.598)), url(../images/catedral\ esteli.png);
background-size: cover;
background-attachment: fixed;
position: relative;
}

*/

h2 {
    text-transform: uppercase;
    text-align: center;
    padding: 25px 0;
    font-size: 45px;
}

.LogoHeader {
    height: auto;
    width: 200px;
    margin: 0 auto;
    border-radius: 10px;
}

.contentNav {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#searchInput {
    width: 60%;
}

#resultados {
    display: flex;
    flex-direction: column;
    /* display: none; */
    padding: 3px 10px;
    position: absolute;
    background-color: white;
    margin-top: 130px;
    /* este se va a cambiar */
}

#resultados .result {
    height: 20px;
    width: 200px;
    padding: 5px 0;
    background-color: white;
    margin-bottom: 10px;
    list-style-type: none;
    margin-right: 120px;
}

.headerInput {
    height: 30px;
    width: 80%;
    border: none;
    border-radius: 10px 10px 10px 10px;
    padding: 2px;
}

.headerInput:focus {
    outline: none;
}

.headerBotton {
    background-color: #f1c993;
    border-radius: 0 5px 5px 0;
    width: 70px;
    height: 34px;
    border: none;
    margin-left: -5px;
}

.navContent {
    height: 35px;
    width: 100%;
    background-color:#71d5e4;

}

.navUl {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navUl li {
    list-style: none;
}

.navUl li a {
    text-decoration: none;
    color: #ffffff;
    overflow: hidden;
}

.navUl li a:focus {
    color: #144d45;
}

.sectionContent {
    height: auto;

    width: 100%;
}

.wave {
    position: absolute;
    bottom:0;
    width: 100%; 
}


/* .carrusel .slide img {
    
    height: 710px;
    width: 100%;
    object-fit: cover;
} */

.targetLocation {
    /* position:relative; */
    height: 175px;
    /* min-width: 600px; */
    width: 45%;
    background-color: #ffff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin: 15px 15px 0 0;
}

.contentInfo {
    /* margin-top: 0px; */
    height: 80px;
    z-index: 0;
    background-color: #e4f4f3;
    opacity: 0.8;
}

.carrusel {

    /* background-color: #E3F9E8; */
    /* justify-content: center; */
    /* align-items: center; */
    /* display: flex; */
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 710px; 

}

.slide {
    width: 100%;
    height: 710px;
    position: absolute;
    transition: all 0.5s;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 710px;
    /* height: 100%; */
    object-fit: cover;
}

.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #ffff;
    font-size: 18px;
    overflow: hidden;
}

.btn:active {
    transform: scale(1.1);
}

.btn-prev {
    top: 45%;
    left: 2%;
}

.btn-next {
    top: 45%;
    right: 2%;
}

.contentInfo h2 {

    position: absolute;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 10px;
    opacity: 100%;
    color: black;
}

.contentLocation {
    height: auto;
    width: 100%;
    background-color: #00B6BC ;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.site_description {
    width: 100%;
}

.imagen {
    display: flex;
    justify-content: space-around;
    align-items: start;

}

.imagen img {
    height: 150px;
    width: 150px;
    background-color: #FFFFFF;
    margin-left: 10px;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
}

.imagen div:nth-child(1) {
    width: 230px;
}

.imagen div:nth-child(2) {
    padding: 0 20px;
}

.imagen div h3 {
    text-transform: uppercase;
    padding: 10px 0;
    margin: 0 15px;
}

/* .imagen div p {
    font-size: 15px;
    width: 450px;
    margin: 0 15px;
    line-height: 20px;
} */

.contentGalery {
    height: auto;
    width: 100%;
    background-color: #C5E5A5;
    padding: 10px 0px;
    margin: 15px auto 0;
    /* border-radius: 20px; */
}

.Galery div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.recorrido-Nic {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.recorrido-Nic img {
    border-radius: 5px;
    margin: 30px;
}

/* .contentmap {
    height: 750px;
    width: 100%;
    border-radius: 10px;
    margin: 20px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
} */

.contentquestions {
    height: 400px;
    width: 100%;
    background-color: #68eec1;
    margin: 20px auto;
    border-radius: 10px;
}

.contentquestions {
    height: auto;
    width: 100%;
    background-color: #a0dfeb8e;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contenedor-footer {
    flex-direction: column;
    border: none;
}

/* .png-direction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 3%;

} */

.foo_bar {
    height: 30px;
    width: 100%;
    background-color: #444444;
    display: flex;
    align-items: center;
}

footer {
    height: 250px;
    width: 100%;
    background-color: #1f1f1f;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.foo_bar small {
    padding: 0 10px;
    color: #ffffff;
}



.footer-row {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.row-item {
    margin: 0px 95px;
}

/* Pongamos la pagina */


/* .png-direction {
    margin-top: 30px;

} */

.png-direction img {
    object-fit: cover;
    height: auto;
    width: 350px;
    border-radius: 15px;

}

.footer-contactos p {
    height: auto;
    width: 250px;
    margin-top: 10px;
}

/* .footer-contactos h1 {
    font-size: 25px;
}

.footer-links h1 {
    font-size: 25px;
} */

.footer-links-ul {
    display: flex;
    justify-content: space-around;
}

.footer-links li {
    list-style: none;
}

.footer-links li a {
    text-decoration: none;
    color: #ffffff;
}


summary {
    padding: 10px;
    width: 100%;
    font-weight: bolder;
    text-transform: uppercase;
}




/* --------------------------------------------------------- */
/* --------------------------------------------------------- */


.card_container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    /* -webkit-perspective: 1000px; */
    /* perspective: 1000px; */
}

.front,
.back {
    background-size: cover;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25); */
    /* border-radius: 10px; */
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    /* min-height: 280px; */
    /* height: auto; */
    /* border-radius: 10px; */
    color: #fff;
    font-size: 1.5rem;
    object-fit: cover;
    overflow: hidden;
    height: 200px;
    width: 200px;
    background-color: #f1e1c6;
    margin: 10px;
    border-radius: 20px;
}

.back {
    /* Estos gradientes habria que cambiar si se quiere modificar el color de fondo del back de la tarjeta */
    background: #cedce7;
    background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    background: linear-gradient(45deg, #cedce7 0%, #8ee9bb 100%);
}

.front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /* width: 100%;
      height: 100%; */
    height: 200px;
    width: 200px;
    content: '';
    display: block;
    opacity: .1;
    background-color: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card_container:hover .front,
.card_container:hover .back {
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
    height: 200px;
    width: 200px;
}

.inner {
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.card_container .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card_container .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card_container:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card_container:hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front .inner p {
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.front .inner p:after {
    content: '';
    /* width: 4rem;
    height: 2px; */
    height: 200px;
    width: 200px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}

.front .inner span {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Montserrat';
    font-weight: 300;
}

.targetLocation .btnGo {

    position: absolute;
    z-index: 1000;
    height: 50px;
    width: 50px;
    background-color: yellow;
    border-radius: 50%;
    margin-left: 90%;
    margin-top: 5%;

    /* text-align:center; */
    /* overflow:hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: yellow;
    }

    .headerBotton {
        width: 200px;
    }

    .LogoHeader {
        width: 200px;
        margin: 10px;
    }

    .headerInput {
        width: 200px;
        margin-right: 50px;
    }

    h2 {
        color: black;
    }

    .contentquestions {

        display: flex;
        flex-direction: column;
    }

    .site_description {
        width: 80%;
    }

    .footer img {
        width: 50%;
        margin: 0 auto;
    }

    .footer-row {
        min-width: 50%;
        padding: 20px;
        text-align: center;
    }

    .contentLocation {
        padding: 0;
        margin-bottom: 20px;
    }

    .targetLocation {
        border-radius: 0;
        width: 100%;
        margin: 10px 0;
        padding: 0;
        box-sizing: border-box;
        height: 350px;
        /* display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; */

    }

    .imagen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imagen :nth-child(1) {
        width: auto;

    }

    .imagen h3 {
        text-align: center;
    }

    .imagen p {
        text-align: justify;
    }


    header {
        display: flex;
        justify-content: space-around;
    }


    /* ELI AQUI ES DONDE VA A TOCAR, NINGUN OTRO LADO */
    .footer .footer-row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }
}

@media only screen and (min-width: 600px) {
    body {
        /* background-color: magenta; */
    }

    .headerBotton {
        width: 100px;
    }

    .LogoHeader {
        width: 125px;
        margin: 10px;
    }

    .headerInput {
        /* width: 50%; */
        margin: 0 40px;

    }

    .contentLocation {
        padding: 0;
    }

    .targetLocation {
        border-radius: 0;
        width: 90%;
        margin: 10px auto;
        padding: 0;
        height: 170px;
        border-radius: 20px;
    }

    footer {
        height: 250px;
        width: 100%;
        background-color: #1f1f1f;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }


    .footer-row {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }

    .row-item {
        margin: 0 10px;
    }

    .png-direction img {
        width: 60%;
    }


    .row-item h3 {
        text-align: center;
    }

    .row-item p {
        text-align: center;
    }

    .footer-contactos {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .row-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        background-color: red;
    }

    .headerBotton {
        width: 100px;
    }

    .LogoHeader {
        width: 125px;
        margin: 10px;
    }



    h2 {
        color: black;
    }

    .contentquestions {
        display: flex;
        flex-direction: column;
    }

    .site_description {
        width: 80%;
    }


    footer {
        height: 250px;
        width: 100%;
        background-color: #1f1f1f;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }


    .footer-row {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }

    .row-item {
        margin: 0px 95px;
    }

    .contentLocation {
        padding: 0;
    }

    .targetLocation {
        border-radius: 0;
        width: 100%;
        margin: 10px 10px;
        padding: 0;
        box-sizing: border-box;
        height: 170px;
        border-radius: 20px;
    }

    .imagen {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .imagen :nth-child(1) {
        width: auto;
        border-radius: 20px;
    }

    .imagen h3 {
        text-align: center;
    }

    .imagen p {
        text-align: justify;
    }

    .row-item h3 {
        text-align: center;
    }

    .row-item p {
        text-align: center;
    }

    .footer-contactos {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

@media only screen and (min-width: 900px) {
    body {
        background-color: #144d45;
    }

    .headerBotton {
        width: 150px;
    }

    .LogoHeader {
        width: 150px;
        margin: 10px;
    }

    .headerInput {
        width: 950px;
    }

    h2 {
        color: black;
    }

    .contentquestions {
        display: flex;
        flex-direction: column;
    }

    .site_description {
        width: 100%;
    }



    .footer-row {
        min-width: 50%;
    }

    .contentLocation {
        padding: 0;
    }

    .targetLocation {
        border-radius: 0;
        width: 95%;
        margin: 10px 10px;
        padding: 0;
        box-sizing: border-box;
        height: 170px;
        border-radius: 20px;
    }

    .imagen {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .imagen :nth-child(1) {
        width: auto;
        border-radius: 20px;
    }

    .imagen :nth-child(2) {
        padding: 0 20px;
    }

    .imagen h3 {
        text-align: center;
    }

    .imagen p {
        text-align: justify;
    }

    footer {
        height: 250px;
        width: 100%;
        background-color: #1f1f1f;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        block-size: 100px;
    }


    .footer-row {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }

    .row-item {
        margin: 0px 95px;
    }


    .row-item h3 {
        text-align: center;
    }

    .row-item p {
        text-align: center;
    }

    .footer-contactos {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .row-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }



}

@media only screen and (min-width: 1200px) {
    body {
        background-color: #8bbabdc0;

    }

    .headerBotton {
        width: 150px;
    }

    .LogoHeader {
        width: 350px;
        margin: 20px;
        height: 70px;


    }

    .headerInput {
        width: 1000px;
    }

    h2 {
        color: black;
    }

    .contentquestions {
        display: flex;
        flex-direction: column;
    }

    .site_description {
        width: 100%;
    }



    .footer-row {
        min-width: 50%;
    }

    .contentLocation {
        padding: 0;
    }

    .targetLocation {
        border-radius: 0;
        width: 45%;
        margin: 10px 10px;
        padding: 0;
        box-sizing: border-box;
        height: 175px;
        border-radius: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    .imagen {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .imagen :nth-child(1) {
        width: auto;
        border-radius: 10px;
    }

    .imagen :nth-child(2) {
        padding: 0 10px;
    }

    .imagen h3 {
        text-align: center;
    }

    .imagen p {
        text-align: justify;
    }

    footer {
        height: 150px;
        width: 100%;
        background-color: #1f1f1f;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }


    .footer-row {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }

    .row-item {
        margin: 0px 95px;
    }


    .row-item h3 {
        text-align: center;
    }

    .row-item p {
        text-align: center;
    }

    .footer-contactos {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .row-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


}
/* .recorrido-Nic{
    border-radius: 20px;


} */